.donationsBlock {
  display: flex;
  flex-direction: row;
  min-width: 1280px;
  max-width: 1400px;

  .donationsCol {
    flex: 1;
    min-width: 420px;
  
    .donationsCol-title {
      font-size: 24px;
      color: gainsboro;
      font-weight: 500;
      text-align: center;
    }
  }

  .donationsAlert {
    .MuiPaper-root {
      background: #45702e !important;
      opacity: 1;
    }
  }

  .donationBlock-arrows {
    display: none;
  }
}

@media (max-width: 768px) {
  .donationsBlock {
    min-width: unset;
    max-width: unset;
    width: 100%;

    .donationsCol {
      flex: 1;
      min-width: unset;
    }

    .donationBlock-arrows {
      display: flex;
      position: absolute;
      top: 63px;
      width: 100%;
      justify-content: space-between;

      > * {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}